.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Change to flex-end to align the form to the right */
    padding-right: 20px; /* Adjust the padding to the right side */
    background: url('/assets/logincover1.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
  }
  
  .login-card {
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* optional: add a subtle shadow */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    margin-top: 20px;
  }
  
  .transparent-input {
    background-color: rgba(255, 255, 255, 0.5); /* transparent background */
    border: 1px solid #ced4da; /* optional: add a border for better visibility */
  }
  
  .transparent-input:focus {
    background-color: rgba(255, 255, 255, 0.5); /* adjust focus background color if needed */
  }
  .registration-buttons .btn {
    margin-top: 10px;
    background-color: #6c757d; /* Custom secondary button color */
    border-color: #6c757d;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.registration-buttons .btn-block {
    width: 100%;
}

  button {
    width: 100%;
    margin-top: 16px;
  }
  .card-header {
    background-color: #4caf50;
    color: white;
    text-align: center;
  }
  