<div class="container">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Add New Product</mat-card-title>
    </mat-card-header>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <mat-card-content class="form-content">
        <div class="form-row">
          <mat-form-field class="form-field">
            <input matInput placeholder="Product Name" formControlName="productName" required>
            <mat-error *ngIf="productForm.get('productName')?.hasError('required')">Product Name is required</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="SKU" formControlName="sku" required>
            <mat-error *ngIf="productForm.get('sku')?.hasError('required')">SKU is required</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Category" formControlName="category" required>
            <mat-error *ngIf="productForm.get('category')?.hasError('required')">Category is required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="form-field">
            <textarea matInput placeholder="Description" formControlName="description" required></textarea>
            <mat-error *ngIf="productForm.get('description')?.hasError('required')">Description is required</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput type="number" placeholder="Price" formControlName="price" required>
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">Price is required</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput type="number" placeholder="Quantity Available" formControlName="quantityAvailable" required>
            <mat-error *ngIf="productForm.get('quantityAvailable')?.hasError('required')">Quantity Available is required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="form-field">
            <input matInput placeholder="Unit of Measure" formControlName="unitOfMeasure">
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Farmer Name" formControlName="farmerName" required>
            <mat-error *ngIf="productForm.get('farmerName')?.hasError('required')">Farmer Name is required</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Farm Name" formControlName="farmName" required>
            <mat-error *ngIf="productForm.get('farmName')?.hasError('required')">Farm Name is required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="form-field">
            <input matInput placeholder="Location" formControlName="location" required>
            <mat-error *ngIf="productForm.get('location')?.hasError('required')">Location is required</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput type="date" placeholder="Harvest Date" formControlName="harvestDate" required>
            <mat-error *ngIf="productForm.get('harvestDate')?.hasError('required')">Harvest Date is required</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput type="date" placeholder="Expiration Date" formControlName="expirationDate">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-checkbox class="form-field" formControlName="organicCertification">Organic Certification</mat-checkbox>

          <mat-form-field class="form-field">
            <input matInput placeholder="Packaging Type" formControlName="packagingType" required>
            <mat-error *ngIf="productForm.get('packagingType')?.hasError('required')">Packaging Type is required</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <textarea matInput placeholder="Shipping Details" formControlName="shippingDetails"></textarea>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="form-field">
            <textarea matInput placeholder="Nutritional Information" formControlName="nutritionalInformation"></textarea>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Tags (comma-separated)" formControlName="tags">
          </mat-form-field>

          <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
          <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Image</button>
          <div *ngIf="productForm.value.image">
            <img [src]="imagePreview" alt="Preview" style="max-width: 100%; max-height: 300px; margin-top: 10px;">
          </div>
          <button *ngIf="productForm.value.image"  mat-icon-button class="close-preview-button" (click)="clearImagePreview()">
            <mat-icon aria-label="Close preview">close</mat-icon>
          </button>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <button mat-button type="submit" color="primary" [disabled]="productForm.invalid">Save</button>
        <button mat-button type="button" color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
