<!-- src/app/auth/retailer-registration/retailer-registration.component.html -->
<div class="container registration-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card registration-card">
        <div class="card-header">
          <h5 class="card-title text-center">Retailer Registration</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="retailerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text" id="fullName" class="form-control transparent-input" formControlName="fullName" required>
              <div *ngIf="retailerForm.get('fullName')?.invalid && retailerForm.get('fullName')?.touched"
                   class="invalid-feedback">Full Name is required
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control transparent-input" formControlName="email" required>
              <div *ngIf="retailerForm.get('email')?.invalid && retailerForm.get('email')?.touched"
                   class="invalid-feedback">
                <div *ngIf="retailerForm.get('email')?.errors?.required">Email is required</div>
                <div *ngIf="retailerForm.get('email')?.errors?.email">Enter a valid email address</div>
              </div>
            </div>

            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="tel" id="phoneNumber" class="form-control transparent-input" formControlName="phoneNumber" required appOnlyNumbers>
              <div *ngIf="retailerForm.get('phoneNumber')?.invalid && retailerForm.get('phoneNumber')?.touched"
                   class="invalid-feedback">
                <div *ngIf="retailerForm.get('phoneNumber')?.errors?.required">Phone Number is required</div>
                <div *ngIf="retailerForm.get('phoneNumber')?.errors?.pattern">Enter a valid 10-digit phone number</div>
              </div>
            </div>

            <div class="form-group">
              <label for="deliveryAddress">Delivery Address</label>
              <textarea id="deliveryAddress" class="form-control transparent-input" formControlName="deliveryAddress " rows="3" required></textarea>
              <div *ngIf="retailerForm.get('deliveryAddress')?.invalid && retailerForm.get('deliveryAddress')?.touched"
                   class="invalid-feedback">Delivery Address is required
              </div>
            </div>

            <div class="form-group">
              <label for="storeName">Store Name</label>
              <input type="text" id="storeName" class="form-control transparent-input" formControlName="storeName" required>
              <div *ngIf="retailerForm.get('storeName')?.invalid && retailerForm.get('storeName')?.touched"
                   class="invalid-feedback">Store Name is required
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
